/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* line 44, ../sass/partials/_base.scss */
body {
  padding: 3.125em 0;
  font-size: 16px;
  margin: 0 auto;
  width: 40em; }

/* line 51, ../sass/partials/_base.scss */
div.wrapper {
  margin: 0 auto;
  display: block;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 20px;
  min-height: 100%;
  width: auto;
  max-width: none; }

/* line 62, ../sass/partials/_base.scss */
div {
  text-align: left;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2%; }

/* line 73, ../sass/partials/_base.scss */
h1.header {
  font-size: 3.5em;
  line-height: 0.928em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Prompt";
  font-weight: 100;
  font-style: normal;
  color: #089a9e; }

/* line 84, ../sass/partials/_base.scss */
p.intro {
  font-size: 1.5em;
  border-top: 1px solid #238a4d;
  border-bottom: 1px solid #238a4d;
  padding: 1.154em;
  text-align: center;
  line-height: 1.5em;
  margin: 1.038em 0px;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal; }

/* line 97, ../sass/partials/_base.scss */
p {
  font-size: 1em;
  line-height: 1.421em;
  margin: 0px 0px 1.421em 0px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal; }

/* line 106, ../sass/partials/_base.scss */
h2 {
  font-size: 1.5em;
  line-height: 0.931em;
  margin: 0px 0px 0.931em 0px; }

/* line 112, ../sass/partials/_base.scss */
p.pullquote {
  padding-left: 10px;
  border-style: solid;
  border-left-width: 3px;
  color: #333333;
  font-size: 1em;
  line-height: 1.421em;
  margin: 0px 0px 1.421em 0px; }

/* line 122, ../sass/partials/_base.scss */
p.author {
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 27px;
  text-transform: uppercase; }

/* line 130, ../sass/partials/_base.scss */
section.thirds:before {
  content: "";
  display: table; }

/* line 135, ../sass/partials/_base.scss */
section.thirds:after {
  content: "";
  display: table;
  clear: both; }

/* line 141, ../sass/partials/_base.scss */
section.thirds {
  margin: 0 auto;
  text-align: center;
  width: auto; }

/* line 147, ../sass/partials/_base.scss */
div.third {
  float: left;
  width: 33.33%;
  text-align: center;
  margin: 0;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Document
   ========================================================================== */
/**
 * 1. Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 *    and $rhythm-unit variables.
 * 2. Correct old browser bug that prevented accessible resizing of text when
 *    root font-size is set with px or em.
 * 3. Correct the line height in all browsers.
 */
/* line 106, ../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 43, ../sass/partials/_normalize.scss */
html {
  font-family: "Roboto Condensed", sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 58, ../sass/partials/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 72, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 162, ../sass/partials/_normalize.scss */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
/* line 171, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 180, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
/* line 190, ../sass/partials/_normalize.scss */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 210, ../sass/partials/_normalize.scss */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 227, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 237, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 250, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 260, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 269, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 284, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
/* line 292, ../sass/partials/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
/* line 301, ../sass/partials/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 310, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 318, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 322, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 333, ../sass/partials/_normalize.scss */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
/* line 342, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 351, ../sass/partials/_normalize.scss */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 400, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: "Roboto Condensed", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
/* line 420, ../sass/partials/_normalize.scss */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 429, ../sass/partials/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 440, ../sass/partials/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/* line 447, ../sass/partials/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  /* line 456, ../sass/partials/_normalize.scss */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  /* line 465, ../sass/partials/_normalize.scss */
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
/* line 474, ../sass/partials/_normalize.scss */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 483, ../sass/partials/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 493, ../sass/partials/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 503, ../sass/partials/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  /* line 511, ../sass/partials/_normalize.scss */
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 522, ../sass/partials/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 531, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 548, ../sass/partials/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 562, ../sass/partials/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 571, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
/* line 582, ../sass/partials/_normalize.scss */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
/* line 590, ../sass/partials/_normalize.scss */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
/* line 598, ../sass/partials/_normalize.scss */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 629, ../sass/partials/_normalize.scss */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
/* line 637, ../sass/partials/_normalize.scss */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 648, ../sass/partials/_normalize.scss */
[hidden] {
  display: none; }
